/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #bf0f9f4e;
  }
  
  #posts-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .post {
    background-color: #f60dc468;
    padding: 20px;
    border-radius: 15px;
    border-color: rgba(35, 3, 9, 0.811);
    box-shadow: 0 0 10px rgb(72, 2, 39);
  }
  
  .post h2 {
    margin: 0 0 10px;
  }
  
  .post p {
    margin: 0;
  }